.history-control, .leaflet-control-locate, .leaflet-control-measurements, .navbar-brand, .sign-in-btn, .about-btn, #offcanvasLayerControlBtn, .reset-btn, #baselayer-toggle, .leaflet-control-custom:not(.full-screen-btn,.baselayer-toggle), .navbar-brand {
    display:None !important;
  }
a.navbar-brand.d-none.d-md-inline {
    display:None !important;
  }
  
