/* Set text color to white */
a .material-icons, a:focus .material-icons, a:hover .material-icons {
    color: rgba(155,28,24,1);
}

/* icons left to the menu */
/*.leaflet-bar a, .leaflet-bar a:hover {
    color: rgba(155,28,24,1)
}

.leaflet-control-locate a {
    color: rgba(155,28,24,1);
}*/

/*/* To keep the logo white */
.navbar .navbar-brand i {
    color:#FFFFFFD6
    color: #ffffff00
}*/

/* Make logo opacity 100% */
.navbar .navbar-brand i {
    color: #ffffff00
}

/* Red bagground in topheader and midttrafik logo*/
.container, .container-fluid {
    background-color: rgba(155,28,24,1);
    background-image: url(https://raw.githubusercontent.com/midttrafik/gisimages/main/LOGO_Midttrafik_72dpi_roed_baggrund_lille.jpg);
    background-repeat: no-repeat;
    /*width: 97%;*/
    height: 55px;
}
.navbar, .navbar.navbar-default {
    background-color: rgba(155,28,24,1);
}


/* Change color of switch, when true */
.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: #4caf50;
}

/* Remove download button */
.form-group.col-md-6 {
    display: none;
}
