/* Set text color to white */
a .material-icons, a:focus .material-icons, a:hover .material-icons {
    color: rgba(155,28,24,1);
}


.leaflet-bar a, .leaflet-bar a:hover {
    color: rgba(155,28,24,1)
}

.leaflet-control-locate a {
    color: rgba(155,28,24,1);
}

/* To keep the logo white */
.navbar .navbar-brand i {
    color:#FFFFFFD6
}

/* Red bagground in topheader */
.container, .container-fluid {
    background-color: rgba(155,28,24,1);
}

/* Change color of switch, when true */
.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: #4caf50;
}

/* Remove download button */
.form-group.col-md-6 {
    display: none;
}
