#find-me-btn{
    display:None
}

#burger-btn{
    display:None
}

#base-layers-btn{
    display:None
}

#about-btn{
    display:None
}

a#session{
    display:None
}

#session{
    display:None
}

i.material-icons.gc2-session-unlock {
    display: None !important;
}

i.material-icons.gc2-session-lock {
    display: None !important;
}
/* Ny Vidi */
.history-control, .leaflet-control-locate, .leaflet-control-measurements, .navbar-brand, #offcanvasLayerControlBtn, .sign-in-btn, .about-btn, .reset-btn, .leaflet-control-simpleMapScreenshoter-btn, .leaflet-control-custom:not(.full-screen-btn,.baselayer-toggle) {
    display:none !important;
  }