#find-me-btn{
    display:None
}

#burger-btn{
    display:None
}

#base-layers-btn{
    display:None
}

#about-btn{
    display:None
}

#session{
    display:None
}

i.material-icons.gc2-session-unlock {
    display: NONE;
}
